* {
    margin: auto;
    text-align: center;
}

p, h1 {
    background-image: url(texy.jpg);
}

.imya {
    width: 80px;
    height: 20px;
}

.parol {
    width: 90px;
    height: 20px;
}

.stat {
    width: 150px;
    height: 20px;
}

.hobi {
    width: 150px;
    height: 20px;
}

h1 {
    color: darkblue;
    font-size: 25px;
    width: 400px;
    height: 35px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 15px;
    border: 2px solid darkblue;
    backdrop-filter: blur(5px);
}

#username {
    background-color:blanchedalmond !important;
    opacity: 0.5;
}

#password {
    background-color: antiquewhite !important;
    opacity: 0.6;
}

#username, #password, p, #button {
    border: 2px solid black;
    border-radius: 10px;
}

.box {
    width: 100px;
    height: 50px;
    background-color: whitesmoke;
    transition: all 0.5s ease-in-out;
}

.box:hover {
    width: 125px;
    height: 50px;
    background-color: yellowgreen;
}

.knopka {
    width: 12px;
    height: 12px;
    transition: all 0.5s ease-in-out;
}

.knopka:hover {
    width: 15px;
    height: 15px;
}

@keyframes neon-glow {
    0% { box-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red; border-color: red; }
    25% { box-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 40px blue; border-color: blue; }
    50% { box-shadow: 0 0 10px lime, 0 0 20px lime, 0 0 40px lime; border-color: lime; }
    75% { box-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 40px cyan; border-color: cyan; }
    100% { box-shadow: 0 0 10px magenta, 0 0 20px magenta, 0 0 40px magenta; border-color: magenta; }
}

div {
    border: 2px solid rebeccapurple;
    border-radius: 10px;
    width: 550px;
    height: 620px;
    margin: 100px auto;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rebeccapurple, 0 0 20px rebeccapurple, 0 0 40px rebeccapurple;
    animation: neon-glow 3s infinite alternate;
}


body {
    background: url(garno.jpg) no-repeat center/cover;
}
